noun_rus.py
noun_cleaner.py
udm_lexemes_N_old.txt
verb_cleaner.py
udm_lexemes_V_old.txt
finalizer/lex_rules.txt
finalizer/lexemes.txt
finalizer/lexemes.txt
finalizer/lexemes_rus.txt
finalizer/paradigms_rus.txt
**.pyc
**.idea/**
__pycache__/
uniparser-morph/errors.log
errors.log
wordlist.csv
analyzed.txt
unanalyzed.txt
import_test.py
uniparser_udmurt/*/lexemes.txt
uniparser_udmurt/*/paradigms.txt
uniparser_udmurt/*/bad_analyses.txt
uniparser_udmurt/*/derivations.txt
uniparser_udmurt/*/lex_rules.txt
uniparser_udmurt/*/udmurt_disambiguation.cg3
add_lex/
wordlist_nodia.csv
wordlist_analyzed_nodia.txt
wordlist_unanalyzed_nodia.txt
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.python-version
.env
venv/
ENV/