noun_rus.py
noun_cleaner.py
udm_lexemes_N_old.txt
verb_cleaner.py
udm_lexemes_V_old.txt
udmparser/finalizer/lex_rules.txt
udmparser/finalizer/lexemes.txt
udmparser/finalizer/lexemes.txt
__pycache__
udmparser/finalizer/lexemes_rus.txt
udmparser/finalizer/paradigms_rus.txt