include bad_analyses.txt
include paradigms.txt
include requirements.txt 
include udm_lexemes_ADJ.txt
include udm_lexemes_IMIT.txt
include udm_lexemes_N.txt
include udm_lexemes_NRel.txt
include udm_lexemes_N_persn.txt
include udm_lexemes_PRO.txt
include udm_lexemes_V.txt
include udm_lexemes_unchangeable.txt 
include udm_lexrules_N.txt 
include udm_lexrules_V.txt
include udmurt_disambiguation.cg3 
